# Application
APP_NAME=go-grpc-microservice-template
GO_ENV=development

# Gateway (Fiber HTTP)
GATEWAY_PORT=8080
GATEWAY_METRICS_PORT=9090

# User gRPC service
USER_GRPC_PORT=50051
USER_GRPC_HOST=localhost
USER_METRICS_PORT=9091

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=gateway
OTEL_TRACES_SAMPLER=always_on

# Logging
LOG_LEVEL=debug

# CORS
CORS_ALLOW_ORIGINS=*
