APP_NAME=gateway
GO_ENV=development
GATEWAY_PORT=8080
GATEWAY_METRICS_PORT=9090
USER_GRPC_HOST=localhost
USER_GRPC_PORT=50051
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=gateway
LOG_LEVEL=debug
CORS_ALLOW_ORIGINS=*
